/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
.byebug_history
/.yardoc
/_yardoc/
/coverage/
/spec/reports/
/node_modules
/spec/dummy/tmp/
/spec/dummy/db/
/spec/dummy/log/*.log

# rspec failure tracking
.rspec_status
/spec/examples.txt
